* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif
}

main {
  width: 890px;
  height: 900px;
  background-color: beige;
  border-left: 1px solid black;
  padding: 20px;
  overflow-y: auto;
  float: left;
}

main h1 {
  font-size: 40pt;
  text-align: center;
}

main h3 {
  font-size: 30pt;
}

main p {
  font-size: 16pt;
}

main li {
  font-size: 16pt;
  margin-left: 25px;
}