* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif
}

main {
  width: 890px;
  height: 900px;
  background-color: black;
  float: left;
}