* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif
}

body {
  background-color: white;
}

.mainbox {
  width: 1202px;
  height: 905px; /*will be removed later */
  background-color: white;
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.leftbox {
width: 300px;
height: 900px;
background-color: white;
padding: 30px 20px 30px 20px;
float: left;
}

.leftbox a:link{
  color: black;
  font-size: 18pt;
  text-decoration: none;
}

.leftbox a:visited{
  color: black;
  font-size: 18pt;
  text-decoration: none;
}

.leftbox a:hover{
  color: white;
  background-color: black;
  font-size: 18pt;
  text-decoration: none;
}

.leftbox hr {
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}