* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: white;
}

.mainbox {
  width: 1000px;
  height: 2000px; /* will be removed once page is complete */
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

nav {
  width: 1000px;
  height: 50px;
  background-color: white;
}

nav a:link {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
}

nav a:visited {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: grey;
  padding: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
}

.navleft {
  width: 500px;
  height: 50px;
  background-color: white;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.navleft p {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.navright {
  width: 500px;
  height: 50px;
  background-color: white;
  padding-right: 20px;
  text-align: right;
  float: left;
  padding-top: 10px;
}

header {
  width: 1000px;
  height: 400px;
  background-color: white;
}

main {
  width: 800px;
  background-color: pink;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

/*Styles for the about section*/
.about {
  width: 800px;
  height: 350px;
  background-color: white;
}

.aboutimg {
  width: 385px;
  height: 350px;
  background-color: white;
  margin-right: 15px;
  float: left;
}

.abouttext {
  width: 385px;
  height: 350px;
  background-color: white;
  margin-left: 15px;
  float: left;
}

.abouttext h1 {
  color: black;
  text-align: center;
  letter-spacing: 3px;
}

/*Since the 3 paragraphs are all a bit different, set up 3 classes and assign the classes to the paragraphs*/

.abouttext .tradition {
  color: black;
  text-align: center;
  letter-spacing: 3px;
}

.abouttext .founded {
  color: black;
  line-height: 1.4em;
}

.abouttext .grey {
  color: grey;
  line-height: 1.4em;
}

/*Styles for the menu section*/
.menu {
  width: 800px;
  height: 430px;
  background-color: white;
  margin-top: 20px;
  float:left;
}

.menutext {
  width: 385px;
  height: 500px;
  background-color: white;
  margin-left: 15px;
  float: left;
}

.menutext h1 {
  color: black;
  text-align: center;
  letter-spacing: 3px;
}

.menutext .items {
  color: black;
  letter-spacing: 3px;
}

.menutext .grey {
  color: grey;
  line-height: 1.2em;
  font-size: .75em;
  padding-top: 10px;
padding-bottom: 15px;
}

.menuimg {
  width: 385px;
  height: 400px;
  background-color: white;
  margin-left: 15px;
  float: left;
}

/*Contact section*/
.contact {
  width: 800px;
  height: 350px;
  background-color: white;
}

.contacttext {
  width: 800px;
  height: 350px;
  background-color: white;
  margin-left: 15px;
  float: left;
}

.contacttext h1 {
  color: black;
  letter-spacing: 3px;
}

.contacttext .black {
  color: black;
  line-height: 1.4em;
  font-size: .75em;
}

.contacttext .blue {
  color: teal;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4em;
}