/*should get rid of _Blank in links
maybe amount of padding left and right on nav*/


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: white;
}

.mainbox {
  width: 1000px;
  height: 1500px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  width: 1000px;
  height: 35px;
  background-color: gray;
  padding-top: 3px;
  padding-left: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
}

header .whitetext {
  color: white;
}

nav {
  margin-left: 20px;
  margin-right: 20px;
}

nav a:link {
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
}

nav a:visited {
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
}

/* QAP stated for the links to be dark blue but in the document itself it moreso resembled purple so I colormatched as best as possible */

.navbox {
  width: 120px;
  height: 140px;
  float: left;
  outline: 3px solid white;
}

#link {

  color: white;
  background-color: darkblue;
  padding-top: 113px;
  padding-left: 6px;
}

#img {
  width: 120px;
  height: 140px;
}

#clear {
  background-color: transparent;
}

.greybox {
  width: 1000px;
  height: 35px;
  background-color: gray;
  padding-top: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  float: left;
}

main {
  width: 1000px;
  height: 500px;
}

main .gallery {
  height: 250px;
  width:1000px;
  background-color: lightgrey;
  float: left;
}

.gallerybox {
  background-color: pink;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  height: 200px;
  width: 220px;
  float: left;
}

.gallerybox p {
color: rgb(107, 104, 104);
font-size: .90em;
}

main a:link {
  text-decoration: none;
  color: white;
  background-color: grey;
}

main a:visited {
  text-decoration: none;
  color: white;
  background-color: grey;
}

main a:hover {
  text-decoration: none;
  color: white;
  background-color: grey;
}

