* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    color: white;
  }

main {
    width: 1000px;
    height: 300px;
    background-color: pink;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    float: left;
}

